/** Colors */
$white: #fff;
$black: #000;
$gray: #767676;
$gray-100: #f7f7f7;
$gray-200: #ebebeb;
$gray-700: #454545;
$gray-800: #1b1b1b;
$gray-900: #121212;
$hotPink: #f73a7b;
$error: #b22222;

/** Color Theme */
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$tertiary: var(--black);

/** Element Colors **/
$textColor: var(--primary-color);
$border: 1px solid $gray-200;
$boxBackgroundColor: $gray-100;

/** Settings */
$borderRadius: 5px;

/** Transitions **/
$transitionShort: all 0.125s ease;
$transitionMedium: all 0.3s ease;
$transitionLong: all 0.5s ease;

/** Mixins */
@mixin border($radius: 3px) {
  border: 1px solid $gray-200;
  border-radius: $radius;
}

@mixin button() {
  background: $hotPink;
  color: $white;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  font-size: 0.7rem;
  border-radius: 25px;
  transition: all 0.3s ease;
}

@mixin breakpoint($var){
  @if $var == sm {
    @media (min-width: 600px){
      @content;
    }
  } @else if $var == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $var == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $var == xl {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $var == xxl {
    @media (min-width: 1800px) {
      @content;
    }
  } @else {
    @error "Unknown variable #{$var} please use sm, md, lg, xl."
  }
}

@mixin transitions($var: sm) {
  @if $var == xs {
    transition: all .1s ease;
  } @else if $var == sm {
    transition: all .2s ease;
  } @else if $var == md {
    transition: all .5s ease;
  } @else if $var == lg {
    transition: all .75s ease;
  }
}