/** Colors */
$white: #fff;
$black: #000;
$lighterGray: #f7f7f7;
$lightGray: #ebebeb;
$hotPink: #f73a7b;
$border: 1px solid $lightGray;
$boxBackgroundColor: $lighterGray;
/** Mixins */
@mixin border($radius: 3px) {
  border: 1px solid $lightGray;
  border-radius: $radius;
}