.Button {
  background: var(--button-default-bg-color, black);
  color: var(--button-default-text-color, white);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  font-size: 0.7rem;
  border-radius: var(--button-border-radius);
  transition: all 0.3s ease;
  display: inline-block;

  a {
    display: flex;
    padding: var(--button-padding);
    line-height: 1;
    text-decoration: none;
    color: white;
    width: auto;
    margin: 0;
    transform: translateX(6px);
    transition: all 0.4s ease;
  }

  &:hover a {
    transform: translateX(0px);
  }

  .Arrow {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
  }

  &:hover .Arrow {
    visibility: visible;
    opacity: 1;
    transform: translateX(8px);
  }

  &.ButtonCenter {
    display: block;
    margin: auto;
  }

  /* Button Variants */
  &.Primary {
    background: var(--primary-color, var(--black));

    &:hover {
      background: color-mix(in srgb, var(--primary-color) 90%, white 10%);
    }
  }
  
  &.Secondary {
    background: var(--secondary-color, var(--black));

    &:hover {
      background: color-mix(in srgb, var(--secondary-color) 90%, white 10%);
    }
  }

  &.Tertiary {
    background: var(--tertiary-color, var(--black));

    &:hover {
      background: color-mix(in srgb, var(--tertiary-color) 90%, white 10%);
    }
  }
}