@import "../../assets/scss/_variables.scss";

.HappyDotsContainer {
  padding: 15px;
  @include border;
  border-radius: 3px;

  .RefSection {
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    border-bottom: 1px solid $lightGray;
  }

  .RefSection:last-child {
    border: none;
  }

  .BgImage {
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    height: 350px;
    background-repeat: no-repeat;
    width: initial;
  }

  .TextBox {
    width: initial;
    padding: 35px;
    box-sizing: border-box;
    background: $lighterGray;
  }
}

.HappyDots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  position: fixed;
  z-index: 6;
  top: 40vh;
  padding-left: 4%;

  .HoverItem {
    position: relative;
    list-style-type: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $hotPink;
    transition: all 0.4s ease;

    &:hover {
      cursor: pointer;
      background: $white;
      // border: 3px solid #212121;
    }

    &:hover .Text {
      height: auto;
      opacity: 1;
      transform: translateX(70px);
    }

    &:hover .Line {
      width: 300%;
    }
  }

  li:first-child {
    &::before {
      position: absolute;
      content: "";
      top: -1px;
      left: -1px;
      height: 12px;
      width: 12px;
      background-color: $white;
      border: 1px solid $hotPink;
      border-radius: 50%;
      display: inline-block;
      z-index: -1;
      animation-name: blinker;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  .Text {
    opacity: 0;
    position: absolute;
    transform: translateX(80px);
    color: black;
    transition: all 0.3s ease 0.1s;
    width: 300px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 0;
  }

  .Line {
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 24px;
    top: 50%;
    transition: all 0.35s ease;
  }
}

@keyframes blinker {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  90% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .HappyDotsContainer {
    .RefSection {
      flex-direction: row;
    }

    .TextBox {
      width: 50%;
    }

    .BgImage {
      width: 50%;
    }
  }
}
