.AppForm {
  display: grid;
  grid-template-rows: auto 115px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  min-height: 20vh;

  &.Dark {
    color: var(--gray-700);
  }

  .FormInputs {
    display: grid;
  }
}
