@import '../../assets/scss/variables';

.AppForm {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  min-height: 20vh;

  input[type="checkbox"] {
    margin-top: 10px;
  }
}
