#TeamBuildingContainer {
  border-top: 1px solid #ebebeb;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  .Member {
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 1%;
    box-sizing: border-box;
    width: 23%;
    transition: all .2s ease;
    &:hover {
      border-color: #e91e63;
      cursor: pointer;
      transform: scale(1.03);
    }
  }

  .Image {
    width: 100%;
  }

  .Name {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .JobTitle {
    margin: 0;
    color: #757575;
    margin-bottom: 20px;
    font-size: .9rem;
  }

  .CompanyLogo {
    position: absolute;
    width: 25px;
    right: 18px;
    bottom: 15px;
  }

  .icons {
    margin: 0;
    display: flex;
    svg {
      padding-right: 4px;
      width: .8rem;
      transition: all .2s ease;
      &:hover {
        cursor: pointer;
        color: #e91e63;
      }
    }
  }
}
