@import '../../assets/scss/_variables.scss';

.Dropper {
  // background: $white;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  &.Dark {
    .DropperHeader {
      background: var(--black);
      color: var(--white);
      border: 1px solid transparent;

      &:hover {
        background: var(--gray-800);
      }
    }
  }
}

.DropperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border: 1px solid $gray-200;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);
  transition: all 0.2s ease;
  cursor: pointer;
  background: var(--white);

  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

.DropperHeader.Active {
  background: var(--black);
  color: var(--white);
}

.DropperIcon {
  transition: all 0.2s ease;
}

.DropperIcon.Active {
  transform: rotate(180deg);
}

.DropperContent {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0 15px;
  transition: opacity 0.5s ease, max-height 0.25s ease, padding 0.25s ease;
}

.DropperContent.Active {
  padding: 15px;
  max-height: initial;
  opacity: 1;
}