h1.Typography {
  font-size: 4rem;
  margin: 0;
}

h2.Typography {
  font-size: 3rem;
  margin: 0;
}

h3.Typography {
  font-size: 1.25rem;
  margin: 0;
}

h4.Typography {
  font-size: 1.125rem;
  margin: 0;
}

h5.Typography {
  font-size: 1rem;
  margin: 0;
}

h6.Typography {
  font-size: .8rem;
  margin: 0;
}
