@import '../../assets/scss/variables';

.Dashboard {
  border-top: $border;
  padding-top: 3rem;

  .User {
    margin-bottom: 1rem;

    img {
      max-width: 100px;
      filter: grayscale(0.5);
      background: $lighterGray;
      border-radius: 50%;
      padding: 15px;
      box-sizing: border-box;

      @include breakpoint(md) {
        max-width: 175px;
      }
    }

    .Name {
      margin-bottom: 5px;
    }

    .Username {
      margin: 0;
      color: $gray;
      font-size: 1.125rem;
      font-weight: 500;
    }
  }

  .Card {
    border: $border;
    border-radius: 10px;
    padding: 20px;

    .Header {
      display: flex;
      align-items: center;
      font-weight: 700;
      margin: 0;

      img {
        width: 20px;
        margin-right: 8px;
      }
    }

    .Description {
      margin: 0.5rem 0 1rem;
      font-size: .9rem;
    }

    .Footer {
      display: flex;
      align-items: center;
      margin: 0;
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 500;
      color: $gray;

      .Circle {
        margin-right: 10px;
        height: 13px;
        width: 13px;
        display: inline-block;
        background: lighten($hotPink, 15%);
        border: 1px solid lighten($hotPink, 10%);
        border-radius: 50%;
      }
    }
  }
}