@import '../../assets/scss/variables';

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .6);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  transition: $transitionMedium;
  opacity: 0;

  &.Dark{
    color: var(--gray-900);
  }
  
  &.ModalActive {
    opacity: 1;
    z-index: 100;
  }

  .Content {
    position: relative;
    background: var(--white);
    padding: 2.5%;
    border-radius: 8px;
    max-height: 80%;
    max-width: 95%;
    min-width: 90%;
    box-sizing: border-box;

    @include breakpoint(lg) {
      min-width: 50%;
    }

    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 45px;
      position: relative;
      bottom: 45px;
      background: linear-gradient(0deg, var(--white), rgba(255, 255, 255, 0));
    }
  }

  .CloseBtn {
    position: absolute;
    right: 1.125rem;
    top: 1.125rem;

    &:hover {
      cursor: pointer;
    }
  }
}