.Eslider {
  position: relative;
  width: 100%;

  .ImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    right: 0;
    display: none;
    text-align: center;
    background: black;
    z-index: 0;

    &.Active {
      display: inline-block;
      z-index: 10;
    }

    img {
      width: 100%;
      max-width: 500px;
    }
  }
}
