@import '../../assets/scss/variables';

.DropperParent {

  .ContainerLeft {
    width: auto;
    padding: 0 15px;
    background: #000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;

    @include breakpoint(md) {
      width: 30%;
    }
  }

  .ContainerRight {
    width: 70%;
    padding: 0 0 0 15px;
  }
}