.SocialComp {
  width: 130px;
  margin: 35px auto 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all .14s ease-out;

  &:hover a {
    color: var(--gray-500);
  }

  i {
    font-size: 1.65em;
  }
}

