#HoverPodsPageContainer{
  background: #f7f7f7;
  padding: 40px 0 75px;
  border: 1px solid #ebebeb;
  border-radius: 3px;

  .title {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 13px;
    text-transform: uppercase;
  }

  .HoverPodsContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;

    .Pod {
      position: relative;
      background-size: cover ;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 20px;

      &:hover .HoverColor,
      &:hover .HoverText {
        top: 45%;
        cursor: pointer;
        opacity: 1
      }
    }

    .HoverColor {
      width: 100%;
      height: 100%;
      background: #c50043ad;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .2s ease;
    }

    .HoverText {
      margin: 0;
      color: #fff;
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: opacity .2s ease .1s, top .2s ease.1s;
    }
}

}
.appear {
  opacity: 0;
}
.appear.appearActive {
  opacity: 1;
  transition: opacity .5s ease;
}
  .enter {
  opacity: 0;
  transition: opacity .5s ease;
}
.enter.enterActive {
  opacity: 1;
}
.leave {
  opacity: 1;
  transition: opacity .5s ease;
}
.leave.leaveActive {
  opacity: 0;
}

@media(min-width: 768px) {
  #HoverPodsPageContainer {
    .HoverPodsContainer {
      flex-direction: row;
    }
  }
}
