@import '../../assets/scss/variables.scss';

.ContainerLeft {
  @include border;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  background: transparent;
  padding: 15px;
}