@import '../../assets/scss/variables.scss';

.ContainerLeft {
  @include border;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 15px;
  width: auto;
  margin-bottom: 1rem;

  @include breakpoint(sm) {
    width: 35%;
  }
}