@import "../../assets/scss/_variables";

.MenuTrigger {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 4px 0 0 0;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background: white;
  right: 5px;
  top: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transitionMedium;
  border: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.Sidebar {
  position: absolute;
  top: 25px;
  right: 25px;
  background: $gray-100;
  border-top: 1px solid $gray-200;
  border-left: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  max-height: 450px;
  box-sizing: border-box;
  z-index: -1;
  opacity: 0;
  padding: 15px;
  width: 80vw;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  transform: translate3d(0, -3px, 0);
  transition: opacity .5s ease 0ms, transform 2s ease 0ms, z-index 0ms ease 500ms;
  border-radius: $borderRadius;

  @include breakpoint(sm) {
    width: 300px;
  }

  &.active {
    opacity: 1;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity .5s ease 0ms, transform 1s ease 0ms, z-index 0ms ease 0ms;
  }
}