@import '../../assets/scss/_variables';

.HomeContainer {
  display: flex;
  border-top: $border;
  padding-top: 40px;
  line-height: 1.5;
  box-sizing: border-box;
  flex-direction: column-reverse;

  .Left {
    margin: 0;
    width: initial;
    background: $boxBackgroundColor;
    padding: 20px;
    border-radius: 3px;
    border: $border;
    height: initial;

    span {
      font-weight: 600;
    }
  }

  .Right {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .HomeContainer {
    flex-direction: row;

    .Right {
      width: 50%;
    }

    .Left {
      width: 50%;
      height: 400px;
    }
  }
}
