@import '../../assets/scss/_variables';

.HomeContainer {
  border-top: $border;
  padding-top: 40px;
  line-height: 1.5;
  box-sizing: border-box;
  flex-direction: column-reverse;

  .Left {
    margin: 0 0 1rem;
    width: initial;
    background: $boxBackgroundColor;
    padding: 20px;
    border-radius: 3px;
    border: $border;
    height: initial;

    span {
      font-weight: 600;
    }
  }

  .Right {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem;

    .HomeTitle {
      font-size: 8rem;
      line-height: 130px;

      @media (min-width: 768px) {
        font-size: 10rem;
      }
    }
    
  }
}

@include breakpoint(lg) {
  .HomeContainer {
    flex-direction: row;

    .Left {
      min-height: 350px;
    }
  }
}
