@import './assets/scss/variables';

.App {}

.Main {
  overflow-x: hidden;

  &.OverflowHidden {
    overflow: hidden;
    height: 100vh;
  }

  .Content {
    // Fallback to 2012
    min-height: 40vh;
    min-height: calc(100vh - 322px);
    border-top: 1px solid $gray-200;
    padding-top: 3rem;
  }
}