@import '../../assets/scss/variables';

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  position: relative;
  box-sizing: border-box;

  &.Dark {
    .ImgWrapper img {
      filter: invert(1);
    }
  }

  .ImgWrapper {
    display: flex;
    width: auto;
  }

  img {
    width: 50px;
  }

  .NavDesktop {
    display: none;

    ul {
      display: flex;
      column-gap: 1rem;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      list-style-type: none;
    }

    a {
      color: $primary;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      transition: all 0.2s ease;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }

    a.selected {
      color: $secondary;
    }
  }

  /*-----------------------------------------
   * Mobile Nav Menu
   -----------------------------------------*/
  .NavMobile {
    display: block;
    visibility: visible;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $black;
    top: 0;
    right: 0;
    z-index: -1;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    opacity: 0;

    ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      flex-direction: column;
      align-items: center;
      padding-top: 35%;
    }

    li {
      margin: 0 15px 12px 0;
      list-style-type: none;
      transform: translateY(-40%);
      opacity: 0;
      transition: all .3s ease-in-out;

      &.isActive {
        opacity: 1;
        transform: translateX(0);
      }
    }

    a {
      color: $primary;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        color: $secondary;
      }
    }

    a.selected {
      color: $secondary;
    }
  }

  .NavMobile.isActive {
    opacity: 1;
    z-index: 10;
    transition: opacity .3s ease;
  }

  @media (orientation: landscape) {
    .NavMobile ul {
      padding-top: 20%;
      padding-bottom: 20%;
    }
  }

  @media(min-width: 1024px) {
    .NavDesktop {
      display: block;
    }

    .NavMobile {
      visibility: hidden;
    }
  }
}
