.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  position: relative;
  box-sizing: border-box;

  .ImgWrapper {
    display: flex;
    width: auto;
  }

  img {
    width: 50px;
  }

  .NavDesktop {
    display: none;

    ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      margin-right: 15px;
      list-style-type: none;
    }

    a {
      color: #454545;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      transition: all 0.2s ease;

      &:hover {
        color: #e91e63;
      }
    }

    a.selected {
      color: #e91e63;
    }
  }

  /*-----------------------------------------
   * Mobile Nav Menu
   -----------------------------------------*/
  .NavMobile {
    display: block;
    visibility: visible;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    top: 0;
    right: 0;
    z-index: 7;
    transform: translateX(-104%);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;

    ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      flex-direction: column;
      align-items: center;
      padding-top: 35%;
    }

    li {
      margin-right: 15px;
      list-style-type: none;
      transform: translateX(-400%);
      opacity: 0;
      transition: all 0.5s ease-in-out;

      &.isActive {
        opacity: 1;
        transform: translateX(0);
      }
    }

    a {
      color: #454545;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      transition: all 0.2s ease;

      &:hover {
        color: #e91e63;
      }
    }

    a.selected {
      color: #e91e63;
    }
  }

  .NavMobile.isActive {
    transform: translateX(3%);
  }
  @media (orientation: landscape) {
    .NavMobile ul {
      padding-top: 20%;
      padding-bottom: 20%;
    }
  }
  @media(min-width: 1024px) {
    .NavDesktop {
      display: block;
    }

    .NavMobile {
      // display: none;
      visibility: hidden;
    }
  }
}
