@import "../../assets/scss/_variables.scss";

.BackgroundImg {
  position: relative;
  background: var(--banner-bg-color, var(--gray-500));
  width: 100%;
  color: $white;
  background-repeat: no-repeat;
}

.Image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 350px;
  object-fit: cover;
  filter: blur(30px);
  transition: filter 2s ease;
  
  @include breakpoint(lg) {
    min-height: 500px;
  }
  
  &.ImageLoaded {
    filter: blur(0);
  }
}

.BackgroundImg.Center {
  text-align: center;
}

.BackgroundImg.Right {
  text-align: right;
}

.Overlay {
  position: absolute;
  width: 95%;
  height: 95%;
  background: rgba(255, 255, 255, 0.15);
  bottom: 0;
  left: 2.5%;
  box-sizing: border-box;
  padding: 30px 10px 0;
  transition: all 0.14s ease;

  @include breakpoint(lg) {
    padding: 100px 15px 0;
  }
}

.Overlay.Full {
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 20px 0;
}

.Overlay.Dark {
  background: rgba(0, 0, 0, 0.4);
}

.Overlay.OverlayNone {
  background: transparent;
}

.PreTitle,
.SubTitle,
.Title {
  color: $white;
}

.PreTitle {
  margin-bottom: 0;
}

.Title {
  font-size: 2.5rem;
  margin: 0;
  transition: all 0.14s ease;

  @include breakpoint(sm) {
    font-size: 3rem;
  }

  @include breakpoint(md) {
    font-size: 4rem;
  }

  @include breakpoint(lg) {
    font-size: 5rem;
  }
}

.SubTitle {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 30px;

  @include breakpoint(md) {
    font-size: 1.15rem;
  }

  @include breakpoint(lg) {
    font-size: 1.25rem;
  }
}

.PreTitle.DarkText,
.SubTitle.DarkText,
.Title.DarkText {
  color: $textColor;
}

.Button {
  @include button;
  display: inline-block;

  &:hover {
    background: rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  a {
    display: flex;
    padding: 14px 34px;
    line-height: 1;
    text-decoration: none;
    color: $white;
    width: auto;
    margin: 0;
    transform: translateX(6px);
    transition: all 0.4s ease;
  }

  &:hover a {
    transform: translateX(0px);
  }

  .Arrow {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
  }

  &:hover .Arrow {
    visibility: visible;
    opacity: 1;
    transform: translateX(8px);
  }
}